body {
  margin: 0;
  font-family:'Source Sans Pro', sans-serif;
  padding-top: 50px;
}

/* ***********************************  MAIN  ************************************************ */
.container-top {
  justify-content: space-around;
  display: flex;
  width: 100vw;
  flex-direction: row;
  min-width: 1024px;
  position: fixed;
  top: 0;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
 }

.links a {
  text-transform: uppercase;
  margin-left: 10px;
  letter-spacing: 2px;
  color: gray;
  text-decoration: none;
  font-size: 1.5rem;
}

.link-pousada{
  font-size: 1.5rem;
  text-decoration: none;
}

.link-pousada span {
   color: #0bb7c6
}

.content-image {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/img/img-fundo.jpg);
  background-size:cover ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content-text {
  width: 400px;
  height:180px;
  background-color: rgba(9, 144, 140, .7);
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
}

/* ***********************************  ROTA/SOBRE A POUSADA  ************************************************ */

.container-welcome, #rota, #sobre {
  text-align: center;
  font-size: 1.2rem;
  margin: 70px;
  color: gray;
}

.container-welcome h2, #rota h2, #sobre h2  {
  text-transform: uppercase;
  font-weight: normal;
}

/* ***********************************  QUARTOS  ************************************************ */
.container-quartos {
  display: flex;
  justify-content: space-around;
}

.container-quartos .card-quartos img {
  height: 300px;
}  

.container-quartos .card-quartos a {
  text-decoration: none;
  font-size: 1.4rem;
  color: gray;
}

.container-quartos .card-quartos {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 4px solid rgba(9, 144, 140, .7)
}

/* ***********************************  SOBRE  ************************************************ */

.container-sobre{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  border: 1px solid red;
}

.container-sobre .card-sobre img{
  height: 150px;
  width: 150px;
  float: right;
}

.container-sobre .card-sobre-content {
  float: left;
  width: 40%;
  padding: 10px;
  border: 1px solid blue;
}

.container-sobre .card-sobre {
  width: 48%;
  border: 1px solid orange;
}


.container-sobre h3 {
  font-weight: bold;
}
